<!doctype html>
<html lang="en">
  <head>
    <title>{{ renderData.title or title }} | {{ metadata.blogTitle }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <meta property="og:url" content="{{ metadata.url }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ renderData.title or title or metadata.title }}"/>
    <meta property="og:description" content="{{ renderData.content or content }}"/>
    <meta property="og:image" content="{{ metadata.ogp.ogImage }}"/>
    <meta name="twitter:card" content="{{ metadata.ogp.twitterCard }}" />
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <script type="text/javascript" src="//webfont.fontplus.jp/accessor/script/fontplus.js?AOiFqnnHNRI%3D&box=gysCShwdQ~8%3D&aa=1&ab=2" charset="utf-8"></script>
  </head>
  <body {% if templateClass %} class="{{ templateClass }}"{% endif %}>
    <header class="takanorip-blogHeader">
      <h1 class="takanorip-blogHeaderLogo"><a class="takanorip-blogHeaderLogoLink" href="{{ '/blog' | url }}">{{ metadata.blogTitle }}</a></h1>
    </header>
    <main class="takanorip-blogContents">
      {{ content | safe }}
    </main>
  </body>
</html>