---
layout: layouts/blogBase.njk
templateClass: blog-content
---
<section class="takanorip-blogHead">
  <h2 class="takanorip-blogTitle">{{ title }}</h2>
</section>
<div class="takanorip-blogInfo">
  <div class="takanorip-blogCategory">
    <p class="takanorip-blogCategoryTitle">Category:</p>
    <ul class="takanorip-blogTechsList">
    {%- for c in category -%}
      <li class="takanorip-blogTechsItem">{{ c }}</li>
    {%- endfor -%}
    </ul>
  </div>
</div>
<div class="takanorip-blogBoby">
  {{ content | safe }}
</div>