---
layout: layouts/blogBase.njk
templateClass: blog-content
---
<section class="takanorip-blogHead">
  <h2 class="takanorip-blogTitle">{{ title }}</h2>
</section>
<div class="takanorip-blogInfo">
  {% if updated_at %}
  <div class="takanorip-blogDate">
    <p class="takanorip-blogDateTitle">updated at:</p>
    <p class="takanorip-blogDateDate">{{ updated_at.toISOString().split('T')[0] }}</p>
  </div>
  {% endif %}
  <div class="takanorip-blogDate">
    <p class="takanorip-blogDateTitle">created at:</p>
    <p class="takanorip-blogDateDate">{{ date.toISOString().split('T')[0] }}</p>
  </div>
  <div class="takanorip-blogTag">
    <p class="takanorip-blogTagTitle">tags:</p>
    <ul class="takanorip-blogTagList">
    {%- for t in tags -%}
      {% if t !== 'blog' %}
      {% set tagUrl = '/blog/tags/' + t + '/' %}
      <li class="takanorip-blogTagItem"><a class="takanorip-blogTagLink" href="{{ tagUrl | url }}">{{ t }}</a></li>
      {% endif %}
    {%- endfor -%}
    </ul>
  </div>
</div>
<div class="takanorip-blogBoby">
  {{ content | safe }}
</div>
<div class="takanorip-twitter">
  {% set tweetText = title + ' - takanorip blog https://takanorip.com' + page.url %}
  {% set tweetUrl %}https://twitter.com/intent/tweet?text={{ tweetText | urlencode }}{% endset %}
  <a
    class="takanorip-twitterLink"
    href="{{ tweetUrl }}"
    data-size="large"
    rel="noopener noreferrer"
    target="_blank"
  >Share on Twitter</a>
</div>
<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="takanorip" data-color="#FFFFFF" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000" data-font-color="#000" data-coffee-color="#fd0" ></script>