---
layout: layouts/base.njk
templateClass: about-content
title: ABOUT
---
{% include "components/head.njk" %}
<section class="takanorip-aboutSection">
  <h3 class="takanorip-sectionTitle">Profile</h3>
  <p>
    I'm a Frontend Developer based in Tokyo. I develop WebApplications and WebSites.<br>
    I am good at designing HTML / CSS, markup and developing with JavaScript.<br>
    Recently I have developed with React, Vue.js and Polymer.
  </p>
  <p>
    I also accept accept a job offer as Solo proprietorship. Please feel free to contact me via Twitter.
  </p>
  <ul class="takanorip-accountList">
    <li class="takanorip-accountItem">
      <a class="takanorip-accountLink" href="https://twitter.com/takanoripe">Twitter</a>
    </li>
    <li class="takanorip-accountItem">
      <a class="takanorip-accountLink" href="https://github.com/">GitHub</a>
    </li>
    <li class="takanorip-accountItem">
      <a class="takanorip-accountLink" href="https://speakerdeck.com/">Speaker Deck</a>
    </li>
    <li class="takanorip-accountItem">
      <a class="takanorip-accountLink" href="https://medium.com/takanorip-blog">Medium</a>
    </li>
    <li class="takanorip-accountItem">
        <a class="takanorip-accountLink" href="https://lapras.com/public/SHCEMGQ">LAPRAS</a>
      </li>
  </ul>
</section>
<section class="takanorip-aboutSection">
  <h3 class="takanorip-sectionTitle">Experience</h3>
  
</section>
<section class="takanorip-aboutSection">
  <h3 class="takanorip-sectionTitle">Skills</h3>
  <ul class="takanorip-skillList">
    <li class="takanorip-skillItem">Figma</li>
    <li class="takanorip-skillItem">Web Font</li>
    <li class="takanorip-skillItem">React</li>
    <li class="takanorip-skillItem">JavaScript</li>
    <li class="takanorip-skillItem">TypeScript</li>
    <li class="takanorip-skillItem">Node.js</li>
    <li class="takanorip-skillItem">Gatsby</li>
    <li class="takanorip-skillItem">Nuxt.js</li>
    <li class="takanorip-skillItem">UI Design</li>
    <li class="takanorip-skillItem">Sketch</li>
    <li class="takanorip-skillItem">GraphQL</li>
  </ul>
</section>