---
layout: layouts/base.njk
templateClass: about-content
---
<section class="takanorip-headSection">
  <h2 class="takanorip-headTitle">ABOUT</h2>
</section>
<section class="takanorip-aboutSection">
  <h3 class="takanorip-sectionTitle">Profile</h3>
  <p>
    I'm a Frontend Developer based in Tokyo. I develop WebApplications and WebSites.
    I am good at designing HTML / CSS, markup and developing with JavaScript.
    Recently I have developed with React, Vue.js and Polymer.
  </p>
  <p>
    I also accept accept a job offer as Solo proprietorship. Please feel free to contact me via Twitter.
  </p>
</section>
<section class="aboutSection">
  <h3 class="takanorip-sectionTitle">Experience</h3>
  <p>Experience</p>
</section>
<section class="aboutSection">
  <h3 class="takanorip-sectionTitle">Skills</h3>
  <p>Experience</p>
</section>