---
layout: layouts/blogBase.njk
permalink: /blog/
templateClass: blog-list-content
title: BLOG
---
{% include "components/head.njk" %}

<ul class="takanorip-blogList">
{%- for blog in collections.blog | reverse -%}
  <li class="takanorip-blogListItem">
    <a class="takanorip-blogListLink" href="{{ blog.url }}">
      <p class="takanorip-blogListLinkWrap">
          {{ blog.data.title }}
      </p>
    </a>
  </li>
{%- endfor -%}
</ul>