---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /blog/tags/{{ tag }}/
filter:
  - works
templateClass: blog-list-content
title: BLOG
---
{% include "components/head.njk" %}
{% set taglist = collections[ tag ] %}

<ul class="takanorip-blogList">
{%- for item in taglist | reverse -%}
  <li class="takanorip-blogListItem">
    <a class="takanorip-blogListLink" href="{{ item.url }}">
      <div class="takanorip-blogListLinkWrap">
          {{ item.data.title }}
          <svg class="takanorip-blogListLinkIcon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
      </div>
    </a>
  </li>
{%- endfor -%}
</ul>